/* Products */
.products-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.products-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
}

/* Product Cards */
.card {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-light);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.product-card {
  padding: 0;
  display: block;
  gap: 1rem;
}

.product-card {
  width: 100%;
  max-width: 370px;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: transform 0.3s;
}
/* .product-card a {
  width: 100%;
} */

.product-img-container {
  width: 100%;
  max-width: 550px;
  max-height: 300px;
  aspect-ratio: 9 / 16;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product-card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: auto;
  display: block;
  object-fit: fill;
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
  gap: 1.2rem;
  padding: 0 2em 0 2em;
  min-height: 100px;
}

.product-btn {
  display: flex;
  padding: 0 2rem 1rem 2rem;
}

.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  gap: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.product-title {
  margin-bottom: 0;
}

.product-char {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.product-price {
  font-weight: 600;
  color: var(--color-dark);
  opacity: 0.9;
  font-size: x-large;
  margin: 0;
}

/* Product-Page */
#product-page {
  display: grid;
  grid-template-columns: 500px 500px;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  margin: 0 auto;
}

#product-page h2 {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.product-features {
  max-width: 300px;
  gap: 1rem;
  padding: 0 2rem;
}

/* Search Bar */
.search-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  background-color: white;
}
.search-container {
  height: 40px;
  position: relative;
}
.filter-btn {
  width: 100%;
  padding: 0 1rem;
}

.search-container, .filter-btn, #search-btn {
  border-radius: 0.5rem;
}

#search-btn {
  position: absolute;
  background-color: transparent;
  display: flex;
  right: 0;
  left: 90%;
  width: fit-content;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 0.3rem;
    width: 100%;
  }
  .product-card {
    flex-direction: column;
    align-items: center;
  }

  .product-content {
    padding: 5px;
  }

  .product-title,
  .product-price {
    font-size: medium;
  }
  .product-char {
    white-space: normal;
    overflow: hidden;
    height: 40px;
    font-size: small;
  }

  .product-img-container {
    max-width: 100%;
    height: auto;
  }

  .product-btn {
    padding: 5px;
  }

  .search-container {
    width: 100%;
  }
}

/* Product list grid  */


/* iPhone XR Portrait */
@media (max-width: 375px) {
  .products-list {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* iPhone XR Landscape */
@media (min-width: 376px) and (max-width: 812px) {
  .products-list {
      grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

/* iPad Mini Portrait */
@media (max-width: 768px) {
  .products-list {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* iPad Mini Landscape */
@media (min-width: 769px) and (max-width: 1024px) {
  .products-list {
      grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

/* iPhone 12/13/14 Pro Portrait */
@media (min-width: 390px) and (max-width: 844px) {
  .products-list {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .products-list {
      grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }
}


